name: Build-Project
run-name: Build-Project
on: 
  workflow_call:
  pull_request:
    branches: [ master, develop, main ]
    types: [ opened ]
jobs:
  build-packages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          # using the latest minor release of python here.
          # ref: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
          python-version: '3.x'
      - name: Install Package Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade build
          python -m pip install --upgrade twine

      - name: Build Package
        run: python -m build